<div class="row">
    <!-- <div class="col-lg-4 col-md-4 col-6">
      <div class="single-funfact">
        <div class="icon">
          <i class="bx bxs-group"></i>
        </div>
        <h3><span [countUp]="_sharedService.numberOfTeachers">00</span></h3>
        <p>Expert Instructors</p>
      </div>
    </div> -->
    <div class="col-6">
      <div class="single-funfact">
        <div class="icon">
          <i class="bx bx-category"></i>
        </div>
        <h3><span [countUp]="numberOfCategories">00</span></h3>
        <p>Total Categories</p>
      </div>
    </div>
    <div class="col-6">
      <div class="single-funfact">
        <div class="icon">
          <i class="bx bx-book-reader"></i>
        </div>
        <h3><span [countUp]="numberOfCourses">00</span></h3>
        <p>Toltal Courses</p>
      </div>
    </div>
  
  </div>
  