<div class="offer-area pt-100">
    <div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.45);"></div> 

    <div class="container">
        <div class="section-title" style="padding: 15px 0px 10px 0px;">
            <h2>Why Rum Sands Academy ?</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-offer-box">
                    <div class="icon">
                        <i class='bx bx-book-reader'></i>
                    </div>
                    <h3>Experienced Teachers</h3>
                    <p>Our teachers are qualified and highly experienced to provide the best level of education.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-offer-box">
                    <div class="icon">
                        <i class='bx bx-certification'></i>
                    </div>
                    <h3>Certified Certificates</h3>
                    <p>Our programs provide accredited certificates that top institutions recognize.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                <div class="single-offer-box">
                    <div class="icon">
                        <i class='bx bxs-time'></i>
                    </div>
                    <h3>Flexible Schedules</h3>
                    <p>We offer flexible schedules with both morning and evening classes to fit your convenience.</p>
                </div>
            </div>
        </div>
    </div>
</div>