<div class="courses-area">
    <div class="container">
        <div class="section-title text-start">
            <span class="sub-title">Courses</span>
            <h2>Our Latest Courses</h2>
            <a routerLink="/all-courses" class="default-btn">
                <i class='bx bx-show-alt icon-arrow before'></i>
                <span class="label">All Courses</span>
                <i class="bx bx-show-alt icon-arrow after"></i>
            </a>
        </div>

        <div class="tabs-container">
            <div class="pane">
                <div class="row">
                    <div class="col-lg-4 col-md-6" *ngFor="let course of latestCourses">
                        <a [routerLink]="['/coursedetails/', course.courseid]"> 
                            <div class="single-courses-box mb-30" style="display: flex; flex-direction: column; height: 510px; border-radius: 10px; width:100%; overflow: hidden;">
                                <div class="courses-image" style="width: 100%; height:200px; overflow: hidden;">
                                    <a [routerLink]="['/coursedetails/', course.courseid]" class="d-block">
                                        <img src="../../../assets/img/{{course.courseimg}}" style="width: 100%; height:200px; object-fit:cover;" alt="image">
                                    </a>
                                    <div class="courses-tag">
                                        <a [routerLink]="['/coursedetails/', course.courseid]" class="d-block">{{ course.categoryName }}</a>
                                    </div>
                                </div>
                                <div class="courses-content">
                                    <h3>
                                        <a [routerLink]="['/coursedetails/', course.courseid]" class="d-inline-block">{{course.coursename}}</a>
                                    </h3>
                                </div>
                                <hr style="margin: 0px;">
                                <div class="courses-content" style="padding: 10px 25px 20px; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 5; -webkit-box-orient: vertical; text-overflow: ellipsis; line-height: 1.4;">
                                    <p class="description" style="margin: 0; display: -webkit-box; -webkit-line-clamp: 6; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;">
                                        <ng-container *ngFor="let line of course.descriptioncourse.split('\n')">
                                            <span *ngIf="line.trim().startsWith('-')" class="bold">{{ line.slice(1).trim() }}</span>
                                            <span *ngIf="!line.trim().startsWith('-')">{{ line }}</span><br />
                                        </ng-container>
                                    </p>
                                </div>
                                <div style="margin-top: auto; text-align: right; padding-right: 25px; padding-bottom: 25px">
                                    <a [routerLink]="['/coursedetails/', course.courseid]" class="read-more-btn" style="color:black;">Read More <i class='bx bx-right-arrow-alt'></i></a>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
